* {
    font-family: 'Kumbh Sans', sans-serif;
  
}

body {
    padding: 10px;
    background-color: #007ea7;
    background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);
    height: 100vh
}

h1 {
    background-color: #3E486F;
    color: white;
    width: fit-content;
    padding: 10px 10px;
    border-radius: 10px;
}

.clear-btn{
    width: fit-content;
    padding: 5px 10px;
    background-color:  #e53935;
    color: #e8eaf6;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.clear-btn:hover{
    background-color:  #df514e;
    
}



#mapid {
    height: 250px;
    border-radius: 10px;
}

p {
    margin: 10px;
    padding: 13px 0;
    background-color: #313750;
    text-align: center;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}